@import "tailwindcss";
@import "tailwindcss-primeui";
:root {
  --head-color: #ffffff;
  --content-color: #e0e0e0;
  --act: #1e88e5;
  --fonHeadr: #1d1d1d;
  --fonAll: #121212;
  --contentfon: #1e1e1e;
  --act-dark: #4338ca;
  --text-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--fonAll);
  color: var(--content-color);
}
